	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/05/2016 18:49
  	*/

@font-face {
  font-family: "flaticon-set-carfixing";
  src: url("../fonts/flaticons/flaticon-set-carfixing.eot");
  src: url("../fonts/flaticons/flaticon-set-carfixing.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-carfixing.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-carfixing.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-carfixing.svg#flaticon-set-carfixing") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-carfixing";
    src: url("../fonts/flaticons/flaticon-set-carfixing.svg#flaticon-set-carfixing") format("svg");
  }
}

[class^="flaticon-carfixing-"]:before, [class*=" flaticon-carfixing-"]:before,
[class^="flaticon-carfixing-"]:after, [class*=" flaticon-carfixing-"]:after {   
  font-family: "flaticon-set-carfixing";
  font-style: normal;
}

.flaticon-carfixing-art:before { content: "\f100"; }
.flaticon-carfixing-car-lifter:before { content: "\f101"; }
.flaticon-carfixing-car-on-a-frame:before { content: "\f102"; }
.flaticon-carfixing-car-repair:before { content: "\f103"; }
.flaticon-carfixing-car-service:before { content: "\f104"; }
.flaticon-carfixing-car-washing-machine:before { content: "\f105"; }
.flaticon-carfixing-car-wheel:before { content: "\f106"; }
.flaticon-carfixing-car-with-cogwheels:before { content: "\f107"; }
.flaticon-carfixing-car-with-spare-tire:before { content: "\f108"; }
.flaticon-carfixing-car-with-wrench:before { content: "\f109"; }
.flaticon-carfixing-changing-car-tire:before { content: "\f10a"; }
.flaticon-carfixing-child-seat-for-the-car:before { content: "\f10b"; }
.flaticon-carfixing-cogwheel:before { content: "\f10c"; }
.flaticon-carfixing-cogwheel-1:before { content: "\f10d"; }
.flaticon-carfixing-mechanic:before { content: "\f10e"; }
.flaticon-carfixing-people:before { content: "\f10f"; }
.flaticon-carfixing-piston:before { content: "\f110"; }
.flaticon-carfixing-pistons-cross:before { content: "\f111"; }
.flaticon-carfixing-profile:before { content: "\f112"; }
.flaticon-carfixing-repair:before { content: "\f113"; }
.flaticon-carfixing-repair-1:before { content: "\f114"; }
.flaticon-carfixing-repair-2:before { content: "\f115"; }
.flaticon-carfixing-repairing-car:before { content: "\f116"; }
.flaticon-carfixing-repairing-car-1:before { content: "\f117"; }
.flaticon-carfixing-repairing-service:before { content: "\f118"; }
.flaticon-carfixing-tool:before { content: "\f119"; }
.flaticon-carfixing-tool-1:before { content: "\f11a"; }
.flaticon-carfixing-tool-2:before { content: "\f11b"; }
.flaticon-carfixing-tool-3:before { content: "\f11c"; }
.flaticon-carfixing-tool-4:before { content: "\f11d"; }
.flaticon-carfixing-tool-5:before { content: "\f11e"; }
.flaticon-carfixing-tool-6:before { content: "\f11f"; }
.flaticon-carfixing-tool-7:before { content: "\f120"; }
.flaticon-carfixing-transport:before { content: "\f121"; }
.flaticon-carfixing-transport-1:before { content: "\f122"; }
.flaticon-carfixing-transport-2:before { content: "\f123"; }
.flaticon-carfixing-transport-3:before { content: "\f124"; }
.flaticon-carfixing-transport-4:before { content: "\f125"; }
.flaticon-carfixing-transport-5:before { content: "\f126"; }
.flaticon-carfixing-transport-6:before { content: "\f127"; }
.flaticon-carfixing-transport-7:before { content: "\f128"; }
.flaticon-carfixing-two-gears:before { content: "\f129"; }
.flaticon-carfixing-vehicle-repair:before { content: "\f12a"; }
.flaticon-carfixing-web:before { content: "\f12b"; }
.flaticon-carfixing-wheel:before { content: "\f12c"; }
.flaticon-carfixing-working-tools:before { content: "\f12d"; }
.flaticon-carfixing-wrench:before { content: "\f12e"; }
.flaticon-carfixing-wrench-1:before { content: "\f12f"; }
.flaticon-carfixing-wrench-2:before { content: "\f130"; }
.flaticon-carfixing-wrench-3:before { content: "\f131"; }