/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

.error_msg{
	display: none;

	text-align: center;
	padding-right: 7px;
	color: red;
}